@media screen and (min-width: 768px){

	.header {
		width: 90%;
		height: 20vh;
		margin: auto;
		display: flex;
		flex-flow: row wrap;
		
	}

	.logo {
		position: relative;
		vertical-align: middle;
		justify-content: center;
		display: flex;
		width: 30%;
	}
	
	.logo h2 {
		position: absolute;
		display: flex;
		margin: 0;
		text-align: center;
		
	}

	.nav {
		position: relative;
		display: flex;
		width: 70%;
	}

	.clearfix::after {
		content: "";
		clear: both;
		display: block;
	}
}