* html, body, main, header h2 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}

* {
	box-sizing: border-box;
}

body {
	background-color: #2E5894;
}

.header {
	/*top: 0px;*/
	display: flex;
	flex-flow: column;
	width: 90%;
	height: 25vh;
	background-color: red;
	margin: auto;
}

.logo {
	vertical-align: middle;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-color: steelblue;
}

.logo h2 {
	
	color: #feb236;
	font-size: 1.2em;
	text-align: center;
	position: relative;
	top: 50%;
	left: 50%;
    transform: translate(-50%, -50%);
}

.nav {
	display: flex;
	width: 100%;
	height: 100%;
	background-color: darkblue;
	color: yellow;
}

.nav p {
	margin: auto;
	margin-top: auto;
	text-align: center;
}

.main {
	background-color: #3B2F2F;
	color: teal;
	margin: auto;
	padding: 10px;
	width: 90%;
}
.main > h3{
	color: aqua;
}