* html, body, main, header h2 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}

* {
	box-sizing: border-box;
}

body {
	background-color: #1b272c;
}

.header {
	/*top: 0px;*/
	display: flex;
	flex-flow: column;
	width: 90%;
	height: 25vh;
	margin: auto;
}

.logo {
	vertical-align: middle;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-color: #182d3d;
}

.logo h2 {
	
	color: #68f19d;
	font-size: 1.2em;
	text-align: center;
	position: relative;
	top: 50%;
	left: 50%;
    transform: translate(-50%, -50%);
}

.nav {
	display: flex;
	width: 100%;
	height: 100%;
	background-color: #182d3d;
	color: #33bbaa;
}

.nav p {
	margin: auto;
	margin-top: auto;
	text-align: center;
}

.main {
	background: linear-gradient(90deg, hsl(209, 50%, 20%), hsl(207, 93%, 12%));
	color: #33bbaa;
	margin: auto;
	padding: 10px;
	padding-left: 1em;
	width: 90%;
}
.main > h3{
	color: #33bbaa;
}